/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.container {
    margin: 0 15px;
    max-width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px; 
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.form-box.active {
    display: block;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 12px 15px;
    background: #eee;
    margin: 10px 0;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
}

button {
    width: 100%;
    padding: 12px;
    background: #4a90e2;
    border: none;
    border-radius: 6px;
    color: #fff;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #357ab8;
}

p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14.5px;
    color: #666;
}

p a {
    color: #4a90e2;
    text-decoration: none;
    font-weight: 400;
}

p a:hover {
    text-decoration: underline;
}